*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    padding-left: 6rem;
}
.sidebar{
    height: 110vh;
    width: 5rem;
    background-color:#333;
    position: fixed;
    color: aliceblue;
    font-size: xx-large;
    padding-top: 50px;
    transition: width .5s ease;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    .arrow{
        font-size: xx-large;
        // margin: 20px 0px 20px 50px;
        position: absolute;
        right: 10px;
        transition: transform .5s;
        top: 10px;
    }
    .navitem{
        // background-color: rgb(59, 164, 255);
        width: 100%;
        height: 100px;
        // padding-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        &:hover{
        background-color: #0f0;
        color: #333;
        cursor: pointer;

        }
        span{
            font-size: large;
            display: none;
        }
    }
    &:hover{
        width: 10rem;
        span{
            display: block;
        }
        .arrow{
            transform: rotate(180deg);
        }
    }
}
.navbar{
    height: 3rem;
    background-color: #0f0;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
    .search{
        position: relative;

    i{
        position: absolute;
        left: 10px;
        top: 7px;
        color: rgb(89, 89, 89);
    }
    input{
        border: none;
        outline: none;
        margin-right: 10px;
        padding: 7px;
        border-radius: 50rem;
        padding-left: 30px;
        padding-right: 0px;
    }
}

}

.modal{
    display: flex;
        align-items: center;
        justify-content: center;
         position: absolute;
         pointer-events: none;
        width: 97vw;
    &:has(.popup.active){
        // background-color: #0f0;
        pointer-events: all;
    }
    .popup{
        width: 70%;
        background-color: rgb(146, 145, 145);
        position: relative;
        border-radius: 5px;
        transition: transform .5s;
        transform: perspective(1000px) rotateY(80deg) scale(0);
        &.active{
            transform: perspective(1000px) rotateY(0deg) scale(1);
            padding-top: 30px;
            
        }
        .fa-xmark{
            position: absolute;
            right: 10px;
            top: 5px;
            font-size: x-large;
            color: rgb(89, 89, 89);
            cursor: pointer;
            &:hover{
                color: #333;
            }
        }
        .form{
            width: 100%;
            padding-top: 10px;
            border-top:1px solid #333 ;
            border-bottom:1px solid #333 ;
            display: grid;
            .inputbox{
                position: relative;
                padding: 3px;
                &:nth-child(1){
                    grid-column: 1/12;
                }
                &:nth-child(2){
                    grid-column: 1/6;
                }
                &:nth-child(3){
                    grid-column: 6/12;
                }
                &:nth-child(4){
                    grid-column: 1/12;
                }
                input,textarea{
                    position: relative;
                    resize: vertical;
                    width: 100%;
                    background-color: #333;
                    border: none;
                    outline: none;
                    padding: 25px 10px 7.5px;
                    border-radius: 4px;
                    color: #fff;
                    font-weight: 500;
                    font-size: 1rem;
                    &:focus ~ span,
                    &:not(:placeholder-shown) ~ span{
                        transform: translateY(-10px);
                        font-size: .8em;
                        color: #fff;
                    }
                }
                span{
                    position: absolute;
                    left: 0;
                    padding: 15px 10px;
                    transition: .5s;
                    pointer-events: none;
                    color: #aaa;
                }
                input[type="submit"]{
                    padding: 10px;
                    background-color: #0f0;
                    color: #111;
                    font-size: 1.25em;
                    font-weight: 600;
                    letter-spacing: .25em;
                    cursor: pointer;
                }
            }

        }
        .popupfooter{
            display: flex;
            align-items: center;
            justify-content: end;
            .buttons{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-right: 10px;
                color: #fff;
                font-size: x-large;
                cursor: default;
                button{
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    color: #fff;
                    font-size: x-large;
                }
            }
        }
        
    }
}