@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
}

section{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
    .signin{
        position: absolute;
        width: 400px;
        background-color: #222;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
        border-radius: 4px;
        box-shadow: 0 15px 35px rgba(0,0,0,.5);
        .content{
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 40px;
            h2{
                font-size: 2rem;
                color:#0f0 ;
                text-transform: uppercase;
            }
            .form{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 25px;
                .inputbox{
                    position: relative;
                    width: 100%;
                    input{
                        position: relative;
                        width: 100%;
                        background-color: #333;
                        border: none;
                        outline: none;
                        padding: 25px 10px 7.5px;
                        border-radius: 4px;
                        color: #fff;
                        font-weight: 500;
                        font-size: 1rem;
                        &:focus ~ i,
                        &:not(:placeholder-shown) ~ i{
                            transform: translateY(-10px);
                            font-size: .8em;
                            color: #fff;
                        }
                    }
                    i{
                        position: absolute;
                        left: 0;
                        padding: 15px 10px;
                        transition: .5s;
                        pointer-events: none;
                        color: #aaa;
                    }
                    input[type="submit"]{
                        padding: 10px;
                        background-color: #0f0;
                        color: #111;
                        font-size: 1.25em;
                        font-weight: 600;
                        letter-spacing: .25em;
                        cursor: pointer;
                    }
                }
                .link{
                    position: relative;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    a{
                        text-decoration: none;
                        color: #fff;
                        &:nth-child(2){
                        color: #0f0;
                        font-weight: 500;
                        }
                    }
                }
            }
        }


    }
    span{
        position: relative;
        display: block;
        width: calc(6.25vw - 2px);
        height: calc(6.25vw - 2px);
        background-color: #181818;
        z-index: 2;
        transition: 1.5s;
        &:hover{
            background-color: #0f0;
            transition: 0s;
        }
    }
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(#000,#0f0,#000);
        animation: anim 5s linear infinite;
    }
}

@keyframes anim{
    0%{transform: translateY(-100%)}
    100%{transform: translateY(100%)}
}


@media (max-width: 900px){
    section span{
        width: calc(10vw - 2px);
        height: calc(10vw - 2px);
    }
}